* {
  box-sizing: border-box;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --sidebar-bg-color: #fcfaf8;
  --content-bg-color: white;
  --accent-color: #dc4c3e;
  --main-text-color: #202020;
  --secondary-text-color: #444444;
  --light-text-color: #acacac;
  --lightest-text-color: #e8e8e8;
  --hover-bg: rgb(248, 235, 227);
  --selected-bg: rgb(248, 241, 227);
  --sidebar-width: 250px;
}

p,
h1,
h2,
h3 {
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  background-color: black;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  width: 100%;
   height: 100%;
}

#sidebar {
  height: 100%;
  width: var(--sidebar-width);
  background-color: var(--sidebar-bg-color);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  overflow: hidden;
  will-change: width;
  flex-shrink: 0;
  overflow-y: auto;
}

#sidebar-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

#sidebar-content > * {
  margin-top: 20px;
}

#sidebar-content > :nth-child(2) {
  margin-top: 5px;
}

.category {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid var(--light-grey);
  width: 100%;
}

.category h2 {
  color: var(--secondary-text-color);
  font-size: 1.1rem;
}

.project-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: padding 0.2s;
    will-change: padding;
}

.project-div p {
    font-size: 0.8rem;
    color: var(--light-text-color);
}


.project-div,
.category-title-div {
  padding: 10px;
  border-radius: 5px;
  padding-left: 10px;
}

.category-title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-title-div h2, .project-div h3{
  max-width: 185px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  flex-shrink: 0;
  flex-grow: 0;
}

.category-title-div p {
  color: var(--light-text-color);
  padding: 5px;
}

.category-title-div p:hover{
  cursor: pointer;
}

.category-title-div:hover * {
  color: var(--accent-color);
}

.category h3 {
  font-size: 0.9rem;
  font-weight: 300;
}

.project-div:hover, .category-title-div:hover {
  background-color: var(--hover-bg);
}

.project-div:hover{
  cursor: pointer;
}

.category h2,
.category h3 {
  flex-shrink: 0;
}

#open-btn,
#close-btn {
  cursor: pointer;
  padding: 8px 0;
  border: none;
  border-radius: 10px;

  will-change: opacity, transition;
  transition: opacity 0.8s;
}

#open-btn {
  visibility: collapse;
  opacity: 0;
}

.topbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}

#sidebar .topbar {
  gap: 70%;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  flex-grow: 1;
  background-color: var(--content-bg-color);
}


#todo-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sortable-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.todo-item, .add-todo-container{
  border-bottom: 1px solid var(--lightest-text-color);
  padding: 8px 0;
}

.todo-item{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;

  cursor: pointer;
}

.todo-item, .add-todo-container{
  max-width: 800px;
}

.todo-item-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo-item h3{
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--secondary-text-color);
}

.todo-item *, .add-todo-container *{
  min-width: max-content;
}

.todo-item p{
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--light-text-color);
}

vaadin-checkbox {
  scale: 0.95;
  cursor:pointer;
}

.add-todo-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  gap: 5px;
}

.add-todo-container:hover{
  cursor: pointer;
}

.add-todo-container p{
  color: var(--light-text-color);
  font-size: 0.9rem;
  font-weight: 300;
}

.add-todo-container:hover *{
  color: var(--accent-color);
}

.todo-popup{
  width: 330px;
  height: 380px;
  padding: 8px;

  display: grid;
  grid-template-columns: 5fr 100px;
  grid-template-rows:20px 50px 25px 25px 1fr 40px;
  grid-template-areas: 
  "lo lo"
  "title title"
  "desc date"
  "desc prio"
  "desc ."
  "desc save"
  ;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 11px;
}

input{
  width: 100%;
  border: 1px solid var(--lightest-text-color);
  padding: 5px;
  border-radius: 10px;
}

select, textarea{
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--lightest-text-color);
  font-weight: 300;
}

dialog {
  border: 0;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.111);
}

input{
  font-weight: 300;
}

.popup-title{
  font-size: 1.13rem;
  padding: 10px;
  height: 100%;
  grid-area: title;
}

.popup-desc{
  resize: none;
  height: 100%;
  grid-area: desc;
  font-size: 1rem;
  font-weight: 200;
}

.popup-save{
  align-self: flex-end;
  grid-area: save;
  width: 100%;
  height: 32px;
  background-color: var(--accent-color);
  color: #e8e8e8;
  border-radius: 5px;
  border: 0;
  font-size: 0.95rem;
  font-weight: 400;

  transition: background-color 0.3s;
}

.popup-prio{
  grid-area: prio;
}

.popup-duedate{
  grid-area: date
}

.popup-save:hover{
  background-color: var(--accent-color);
  color: white;
  cursor: pointer;
}

input:active,
textarea:active,
select:active,
input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--light-text-color); 
  background-color: white; 
}


.project-popup{
  width: 330px;
  height: 120px;
  padding: 8px;

  display: grid;
  grid-template-columns: 1fr 100px;
  grid-template-rows:1fr 40px;
  grid-template-areas: 
  "name name"
  ". save"
  ;

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 11px;
}

.project-popup .popup-title{
  grid-area: name;
}

.category-padding{
  padding: 10px;
}

.amount-remove-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.amount-remove-div img {
  scale: 0.9;
}

img:hover{
  cursor: pointer;
}